/* Enter your custom styles here */
.telaneg .tabelaItens .sapMText,
.telaneg .tabelaItens input,
.telaneg .tabelaItens bdi,
.telaneg .tabelaItens .sapMObjStatusText
{
    font-size: 0.75rem;
}

.mySmallMarginRight {
    margin-right: 11px !important;
}

.mySmallMarginLeft {
    margin-left: 8px !important;
}